.contact-hello {
  font-family: "Lobster";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: left;
  color: black;
}

.contact .introduction {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
  text-align: right;
}

.contact-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;

  color: #000000;

  margin-top: 5rem;
}

.info-box {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  margin-bottom: 1rem;
}

.info-box div {
  margin: auto 0.5rem auto 0.5rem;
}

.info-box p {
  margin: 0;
}

.icon {
  height: auto;
}

@media only screen and (max-width: 600px) {
  .contact {
    min-height: 100vh;
    height: 100%;
    padding: 0.1rem 0 1rem 0;
  }

  .hello {
    text-align: left !important;
  }

  .introduction {
    text-align: left !important;
  }

  .contact-info {
    margin: 0 !important;
    display: block !important;
  }
}

.meow-image {
  position: relative;
  height: 80%;
  padding: 0 2rem 0 2rem;
}

.meow-image img {
  margin: auto;
  max-width: 60%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}