.projects .hello {
  font-family: "Lobster";
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: left;
  color: black;
}

.projects .sidebar {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 20px;
  line-height: 30px;
  text-align: left;
}
