.content-right {
  grid-column: 2;
  background: #EFC8A5;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .content-right {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    height: 100%;
  }
}
