.hero {
  position: relative;
  color: #fff;
  text-align: left;
  max-width: 200px;
}

.heroTitle {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 49px;

  color: #5b1027;
}

.hero a {
  text-decoration: none;
}
