.main-left {
  grid-column: 1;
  background: #FDFBF5;
  padding-left: 50px;
  padding-right: 50px;
  height: 100%;
}

@media only screen and (max-width: 600px) {
  .main-left {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
  }
}
