.navigation {
  font-family: Abril Fatface;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;

  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
}

.navigation-item {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigation-item a {
  color: currentColor;
  text-decoration: none;
  font-weight: bold;
}

.navigation-item a:hover {
  color: black;
}

.item-projects a:hover {
  color: #1693A5 !important;
}

.item-blog a:hover {
  color: #645100 !important;
}

.item-contact a:hover {
  color: #5B1027 !important;
}

.navigation-item-active {
  color: black !important;
  text-decoration: underline !important;
}
