.preview {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-left: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  background: #ffffff;
}

.preview-image {
  background: #ffffff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  width: auto;
  height: auto;
  cursor: pointer;
}

.preview-image:hover {
  background: #f1df91;
}

.post-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;

  color: #000000;
}

.post-timestamp {
  float: right;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
}

.preview-content {
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.more {
  float: right;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  text-align: right;
  text-decoration-line: underline;
  margin-top: 20px;

  color: #000000;
}
