.preview {
  margin-left: 30px;
  margin-bottom: 30px;
  font-family: "Poppins";
  font-style: normal;
  font-size: 14px;
  background: #ffffff;
}

.preview-image {
  position: relative;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: auto;
  height: 150px;
  cursor: pointer;
}

.preview-image:hover {
  background: #1693A5;
}

.more {
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.more a {
  text-decoration: underline;
}

.project-title {
  font-weight: 600;
  color: black;
}

.preview-content {
  padding: 1rem 1.5rem 1rem 1.5rem;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
